html {
 background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 80%, rgba(0, 0, 0, 0.75));
 height: 100%;
 font-family: sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.Title {
  color: white;
  text-align: center;
  width: 80%;
  margin-left: 10%;
}

.taoki {
  width: 10%;
  color: white;
}

nav {
  width: 250px;
  height: 700px;
  background-color: rgb(29, 64, 65);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

ul {
  list-style: none;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

li {
  margin-top: 15px;
  margin-left: 0px;
}
